@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*navbar*/
.collapse{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    align-items: center;
}
ul li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Jost';
}
.nav-item button{
    color: #010851;
    font-weight: 600;
}
.nav-item button:hover{
    background: #ED80FD;
    border: 0;
}